@import "../../styles/styles.scss";

.topbar {
  height: 70px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $bg-grey;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0px;

  .topbar-container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 16px;

    .topbar-left {
      display: flex;
      align-items: center;
      .topbar-logo {
        width: 80px;
        margin-right: 50px;
      }
      .topbar-search {
        display: flex;
        align-items: center;
        width: 600px;
        height: 30px;
        position: relative;

        .search-icon {
          position: absolute;
          left: 10px;
          color: $prim-grey;
          height: 0.7rem;
          height: 100%;
          display: flex;
          align-items: center;
        }

        .topbar-search-input {
          width: 100%;
          height: 100%;
          border: none;
          padding-left: 40px;
          background-color: $bg-grey;
          font-family: $font-main;
          font-weight: 100;
          font-size: 0.9rem;
          border-radius: 5px;
          &:focus {
            outline: none;
          }
        }
      }
    }

    .btn {
      border: none;
      padding: 5px 20px;
      border-radius: 5px;
      margin-left: 10px;
      font-family: $font-main;
      font-weight: 300;
      &:hover {
        cursor: pointer;
      }
    }
    .signin {
      color: $prim-blue;
      background-color: white;
      border: 1px solid $prim-blue;
    }

    .signup {
      color: white;
      background-color: $prim-blue;
      border: 1px solid $prim-blue;
    }

    .signout {
      color: white;
      background-color: $prim-black;
      border: 1px solid $prim-black;
    }
  }
}

.top-navbar {
  width: 100%;
  background-color: white;
  padding: 10px 0;
  border-bottom: 1px solid $bg-grey;
}
.topbar-nav-container {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .topbar-nav-menu {
    height: 30px;
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
    }
  }
}
