// GOOGLE FONT
@import url(https://fonts.googleapis.com/scss2?family=Roboto:wght@100;300;400;500;700&display=swap);

// FONT VARIABLE
$font-main: "Roboto", sans-serif;

// COLORS
$prim-blue: #09b1ba;
$prim-grey: #8a8a8a;
$prim-black: #333;
$bg-grey: #ebedee;
