@import "../../styles/styles.scss";

.site-wrap {
  margin-top: 100px;

  .offers-container {
    display: flex;
    justify-content: center;

    .offers-container-wrap {
      width: 90%;
      max-width: 1280px;
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
