.header-bg {
  margin: 10px 0;
  height: 400px;
  width: 100%;
  background-image: url("../../assets/images/header-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}
