@import "../../styles/styles.scss";

.site-wrap {
  .signin-container {
    @include container;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-family: $font-main;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .signin-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .signin-form-input {
        border: none;
        outline: none;
        font-family: $font-main;
        border-bottom: 1px solid #d5cdcd;
        padding: 10px;
        margin: 10px 0;
      }
      .signin-form-submit {
        margin: 20px 0;
        border: none;
        font-family: $font-main;
        color: white;
        background-color: $prim-blue;
        padding: 10px 0;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
        &:active {
          opacity: 0.7;
        }
      }
    }
  }
}
