@import "../../styles/styles.scss";

.offer-card {
  width: calc((100% / 5) - 20px);
  min-width: 200px;
  margin: 0 10px;

  .offer-card-container {
    margin-bottom: 40px;
  }

  .offer-card-owner {
    display: flex;
    align-items: center;

    .offer-card-owner-username {
      color: $prim-grey;
      margin-left: 10px;
      font-family: $font-main;
      font-weight: 100;
      font-size: 0.8rem;
    }
    .offer-card-owner-avatar {
      height: 25px;
      width: 25px;
      border-radius: 50%;
    }
    .avatar-small {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: $prim-grey;
      font-family: $font-main;
      font-size: 0.8rem;
      color: white;
    }
  }

  .offer-card-cover {
    height: 340px;
    margin: 10px 0;
    .offer-card-cover-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .offer-card-infos {
    display: flex;
    flex-direction: column;
    font-family: $font-main;
    .offer-card-infos-price {
      font-size: 1rem;
      margin-bottom: 5px;
    }
    .offer-card-infos-title {
      font-size: 0.9rem;
      color: $prim-grey;
      font-weight: 100;
    }
  }
}
