@import "../../styles/styles.scss";

.offer-card {
  width: calc((100% / 5) - 20px);
  min-width: 200px;
  margin-bottom: 40px;
  margin: 0 10px;

  .offer-card-owner {
    display: flex;
    align-items: center;

    .offer-card-owner-username {
      color: $prim-grey;
      margin-left: 10px;
    }
    .offer-card-owner-avatar {
      height: 25px;
      width: 25px;
      border-radius: 50%;
    }
  }

  .offer-card-cover {
    height: 340px;
    margin: 10px 0;
    .offer-card-cover-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .offer-card-infos {
    display: flex;
    flex-direction: column;
  }
}
